mat-card{
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.521);
}

.adicionar{
    position: relative;
    top: 5vh;
    left: 8.5vh;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    max-width: 94%;
}

.botoes > button{
    margin: 5px;
}

.lista {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.item{
    display: inline;
}

.imagem{
    max-height: 50%;
    background-color: rgba(255, 255, 255, 0.11);
}