<div *ngFor=" let filme of Filmes " class="tabela">
    <p>Id -  {{ filme.id }} </p>
    <p>Nome -  {{ filme.nome }} </p>
    <p>Autor - {{ filme.diretor }}</p>
    <p>Descricao - {{ filme.descricao }}</p>
    <p>Estudio - {{ filme.estudio }}</p>
    <p>Disponibilidade - {{ filme.disponibilidade }}</p>
    <p>Estudio - {{ filme.estudio }}</p>
    <p>Status - {{ filme.status }}</p>
    <p>Visto - {{ filme.statusVisto }}</p>
    <p>Data de Lancamento - {{ filme.dtLancamento | date: 'dd/mm/aaaa' }}</p>

    <button (click)="deletaDados( filme.id )"> Apagar </button>
<button (click)="editaDados( filme )"> Editar </button>
</div>

<form >
    <div class="form-group">
        <input type="text" [(ngModel)]="Filme.nome" name="nome">
        <input type="text" [(ngModel)]="Filme.diretor" name="diretor" >
        <input type="text" [(ngModel)]="Filme.descricao" name="descricao">
        <input type="text" [(ngModel)]="Filme.disponibilidade" name="disponibilidade">
        <input type="text" [(ngModel)]="Filme.estudio" name="estudio">
        <input type="text" [(ngModel)]="Filme.duracao" name="nacionalidade">
        <input type="text" [(ngModel)]="Filme.statusVisto" name="statusVisto">
        <input type="number" [(ngModel)]="Filme.status" name="maxEps">
        <input type="date" [(ngModel)]="Filme.dtLancamento" name="dtLancamento">

        <input type="submit" value="Enviar" (click)="enviaDados()">
    </div>
</form>