<button mat-raised-button (click)="adicionar()" class="adicionar"> Adicionar </button>
<div *ngFor=" let filme of Filmes">
    <div class="botoes">
            <button mat-raised-button (click)="deletaDados( filme.id )" color="warn"> Apagar </button>
            <button mat-raised-button (click)="editaDados( filme )" color="primary"> Editar </button>
    </div>
    
    <div class="lista">
            <mat-card class="imagem">
                    <mat-card-content>
                            <img src="../../../assets/gato1.jpg" alt="Midas" sizes="300px">
                    </mat-card-content>
            </mat-card>
            <div class="item">
                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Nome</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.nome }}</mat-card-content>
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Descricao</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.descricao }}</mat-card-content>
                    </mat-card>

                    <mat-card>    
                            <mat-card-header>
                                    <mat-card-title>Diretor</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.diretor }}</mat-card-content>
                    </mat-card>
                    

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Duracao em minutos</mat-card-title>        
                            </mat-card-header>
                            <mat-card-content>{{ filme.duracao }}</mat-card-content>
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Disponibilidade</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.disponibilidade }}</mat-card-content>
                    </mat-card>
                    

                    <mat-card>        
                            <mat-card-header>
                                    <mat-card-title>Estudio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.estudio }}</mat-card-content>
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Status</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.status }}</mat-card-content>        
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Visto</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.statusVisto }}</mat-card-content>
                    
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Lancamento</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ filme.dtLancamento | date: 'dd/MM/yyyy' }}</mat-card-content>
                    </mat-card>
            </div>        
    </div>
</div>
