<button mat-raised-button (click)="fechar()" class="fechar" color="warn">X</button>

<form>
    <p>Digite o nome do autor:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite o nome da novela</mat-label>
        <input matInput [(ngModel)]="Novela.nome" name="nome">
    </mat-form-field>

    <p>Digite o nome do autor:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite o autor:</mat-label>
        <input matInput [(ngModel)]="Novela.autor" name="autor">
    </mat-form-field>

    <p>Digite a descricao:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite a descricao:</mat-label>
        <input matInput [(ngModel)]="Novela.descricao" name="descricao">
    </mat-form-field>

    <p>Digite onde pode ser encontrada: <br>(nome do serviço de streaming ou site alternativo)</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Site onde pode ser encontrada</mat-label>
        <input matInput [(ngModel)]="Novela.disponibilidade" name="disponibilidade">
    </mat-form-field>

    <p>Digite o nome do estudio</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Nome do estudio</mat-label>
        <input matInput [(ngModel)]="Novela.estudio" name="estudio">
    </mat-form-field>

    <!-- checkbox ou lista de opcoes talvez agrupar com o proximo -->
    <div class="checkbox">
        <div class="status">
            <p>Está em lançamento ou finalizado:</p>
            <mat-radio-group>
                <mat-radio-button value="L" [(ngModel)]="Novela.status" name="statusL">Lançamento</mat-radio-button>
                <mat-radio-button value="F" [(ngModel)]="Novela.status" name="statusF">Finalizado</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- checkbox ou lista de opcoes -->
        <div class="visto">
            <p>Já assistiu ou não:</p>
            <mat-radio-group>
                <mat-radio-button value="vi" [(ngModel)]="Novela.statusVisto" name="statusVisto">Já assisti</mat-radio-button>
                <mat-radio-button value="nvi" [(ngModel)]="Novela.statusVisto" name="statusVisto">Não assisti</mat-radio-button>
                <mat-radio-button value="ass" [(ngModel)]="Novela.statusVisto" name="statusVisto">Ainda Assistirei</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="numero">
        <div class="temps">
            <p>Quantas temporadas tem?</p>
            <mat-form-field appearance="fill">
                <mat-label>Numero de temporadas</mat-label>
                <input mat-input type="number" [(ngModel)]="Novela.temps" name="temps">
            </mat-form-field>
        </div>
        
        <div class="maxEps">
            <p>Quantas episodios tem?</p>
            <mat-form-field appearance="fill">
                <mat-label>Numero de episodios</mat-label>
                <input mat-input type="number" [(ngModel)]="Novela.maxEps" name="maxEps">
            </mat-form-field>
        </div>
        
        <!-- data -->
        <div class="data">
            <p>Quando a novela lancou?</p>
            <mat-form-field appearance="fill">
                <mat-label>Digite o ...</mat-label>
                <input matInput type="date" [(ngModel)]="Novela.dtLancamento" name="dtLancamento">
            </mat-form-field>
        </div>
    </div>
</form>

<button mat-raised-button (click)="enviaDados()" class="envio"> Enviar </button>