<main class="conteudo">
    <h2>Ultimas adições</h2>
    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Audio</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let audio of Audios">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Desenhos</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let desenho of desenhos">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Filmes</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let filme of filmes">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Jogos</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let jogo of jogos">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Livros</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let livro of livros">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Novelas</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let novela of novelas">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Quadrinhos</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let quadrinho of quadrinhos">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Series</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let serie of series">
            <p>teste de teste</p>
        </mat-card-content>
    </mat-card>
</main>