<button mat-raised-button (click)="fechar()" class="fechar" color="warn">X</button>

<form>
    <p>Digite o nome do autor:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite o nome do audio</mat-label>
        <input matInput [(ngModel)]="Audio.nome" name="nome">
    </mat-form-field>

    <p>Digite o nome do autor:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite o autor:</mat-label>
        <input matInput [(ngModel)]="Audio.autor" name="autor">
    </mat-form-field>

    <p>Digite a descricao:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite a descricao:</mat-label>
        <input matInput [(ngModel)]="Audio.descricao" name="descricao">
    </mat-form-field>

    <p>Digite onde pode ser encontrada: <br>(nome do serviço de streaming ou site alternativo)</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Site onde pode ser encontrada</mat-label>
        <input matInput [(ngModel)]="Audio.disponibilidade" name="disponibilidade">
    </mat-form-field>

    <p>Digite o nome do estudio</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Nome do estudio</mat-label>
        <input matInput [(ngModel)]="Audio.estudio" name="estudio">
    </mat-form-field>

    <!-- checkbox ou lista de opcoes talvez agrupar com o proximo -->
    <div class="checkbox">
        <!-- checkbox ou lista de opcoes -->
        <div class="visto">
            <p>Já assistiu ou não:</p>
            <mat-radio-group>
                <mat-radio-button value="vi" [(ngModel)]="Audio.statusVisto" name="statusVisto">Já assisti</mat-radio-button>
                <mat-radio-button value="nvi" [(ngModel)]="Audio.statusVisto" name="statusVisto">Não assisti</mat-radio-button>
                <mat-radio-button value="ass" [(ngModel)]="Audio.statusVisto" name="statusVisto">Ainda Assistirei</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
        <!-- data -->
        <div class="data">
            <p>Quando lancou?</p>
            <mat-form-field appearance="fill">
                <mat-label>Digite a data de lançamento</mat-label>
                <input matInput type="date" [(ngModel)]="Audio.dtLancamento" name="dtLancamento">
        </mat-form-field>
        </div>
</form>

<button mat-raised-button (click)="enviaDados()" class="envio"> Enviar </button>