<form >
    <div class="form-group">
        <input type="text" [(ngModel)]="Anime.nome" name="nome">
        <input type="text" [(ngModel)]="Anime.autor" name="autor" >
        <input type="text" [(ngModel)]="Anime.descricao" name="descricao">
        <input type="text" [(ngModel)]="Anime.disponibilidade" name="disponibilidade">
        <input type="text" [(ngModel)]="Anime.estudio" name="estudio">
        <input type="text" [(ngModel)]="Anime.nacionalidade" name="nacionalidade">
        <input type="text" [(ngModel)]="Anime.status" name="status">
        <input type="text" [(ngModel)]="Anime.statusVisto" name="statusVisto">
        <input type="number" [(ngModel)]="Anime.maxEps" name="maxEps">
        <input type="number" [(ngModel)]="Anime.temps" name="temps">
        <input type="date" [(ngModel)]="Anime.dtLancamento" name="dtLancamento">

        <input type="submit" value="Enviar" (click)="enviaDados()">
    </div>
</form>