* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    height: 100%;
}

header {
    display: flex;
    padding-left: 2%;
    padding-top: 2%;
    background-color: #FF934F;
}

header > button{
    width: 5%;
    height: 5%;
    padding: 16px;
    background-color: #6a4ee6;
    color: aliceblue;
}

body{
    padding: 2%;    
    background-color: #FF934F;
    min-height: 80vh;
}

h1{
    font-size: 4em;
    justify-content: center;
    margin: auto;
}

img{
    margin: auto;
    display: block;
}

.rotas{
    margin: 1%;
    top: -12px;
    min-height: 10vh;
    position: relative;
    display: flex;
    background-color: #6a4ee6;
    border-radius: 100px;
    justify-content: space-around;
}

.rotas > button{
    margin: auto;
    min-height: 8%;
    min-width: 8%;
    border-radius: 50%;
    background-color: white;
}

footer {
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #da7557;
    display: flex;
    position: relative;
}

footer > p {
    margin: auto;
}