<header>
    <button mat-fab routerLink="/" class="Home">Home</button>
    <h1> {{ title }} </h1>
</header>
<body >

    <img src="../assets/gato1.png" alt="gato.png">
    
    <nav class="rotas">
        <button mat-fab routerLink="/desenho">Desenho</button>
        <button mat-fab routerLink="/filme">Filme</button>
        <button mat-fab routerLink="/livro">Livro</button>
        <button mat-fab routerLink="/quadrinhos">Quadrinhos</button>
        <button mat-fab routerLink="/novela">Novela</button>
        <button mat-fab routerLink="/serie">Series</button>
        <button mat-fab routerLink="/jogos">Jogos</button>
        <button mat-fab routerLink="/audio">Audio</button>
    </nav>
    
    <router-outlet></router-outlet>
</body>

<footer class="creditos">
    <p>{{ creditos }}</p>
</footer>