* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    height: 100%;
    position: relative;
}

html {
    position: relative;
    min-height: 100%;
}

.fundo{
    margin: 0 0 8vh;
    padding: 25px;
    background-color: #FF934F;
}

header{
    display: flex;
}

h1{
    font-size: 4em;
    justify-content: center;
    margin: auto;
}

img{
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 3vw;
    display: block;
}

nav{
    display: flex;
    background-color: #eaebec;
    border-radius: 100px;
    justify-content: center;
    margin: 1%;
}

nav > button{
    margin: 8px;
    border-radius: 50%;
    padding: 5px;
}

main{
    display: flex;
    justify-content: center;
    background-color: #eaebec;
    margin: 1%;
    border-radius: 100px;
}

h2{
    font-size: 1em;
    margin: auto;
}

footer {
    background-color: #eaebec;
}