* {
    background-color: #FF934F;
}

header {
    display: flex;
}

header > button{
    margin: 25px 0 0 25px;
    /* width: 15px; */
    min-width: 50px;
    height: 5%;
    padding: 16px;
    background-color: #6a4ee6;
    color: aliceblue;
    position: sticky;
}

h1{
    font-size: 4em;
    justify-content: center;
    margin: auto;
    color: rgba(0, 0, 0, 0.692);
}

img{
    margin: auto;
    display: block;
}

.rotas{
    margin: 1%;
    padding: 0 1%;
    top: -12px;
    min-height: 10vh;
    position: relative;
    display: flex;
    background-color: #6a4ee6;
    border-radius: 100px;
    justify-content: space-between;
}

.rotas > button{
    margin: auto;
    min-height: 8%;
    min-width: 8%;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}


footer {
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #da7557;
    display: flex;
    position: relative;
}

footer > p {
    margin: auto;
}
