<button mat-raised-button (click)="adicionar()" class="adicionar"> Adicionar </button>

<div *ngFor=" let audio of Audios">
    <div class="botoes">
            <button mat-raised-button (click)="deletaDados( audio.id )" color="warn"> Apagar </button>
            <button mat-raised-button (click)="editaDados( audio )" color="primary"> Editar </button>
    </div>
    
    <div class="lista">
            <mat-card class="imagem">
                    <mat-card-content>
                            <img src="../../../assets/gato1.jpg" alt="Midas" sizes="300px">
                    </mat-card-content>
            </mat-card>
            <div class="item">
                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Nome</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.nome }}</mat-card-content>
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Descricao</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.descricao }}</mat-card-content>
                    </mat-card>

                    <mat-card>    
                            <mat-card-header>
                                    <mat-card-title>Autor</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.autor }}</mat-card-content>
                    </mat-card>
                    

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Duração</mat-card-title>        
                            </mat-card-header>
                            <mat-card-content>{{ audio.duracao }}</mat-card-content>
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Disponibilidade</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.disponibilidade }}</mat-card-content>
                    </mat-card>
                    

                    <mat-card>        
                            <mat-card-header>
                                    <mat-card-title>Estudio</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.estudio }}</mat-card-content>
                    </mat-card>

                    <mat-card>                
                            <mat-card-header>
                                    <mat-card-title>Tipo</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.tipo }}</mat-card-content>
                    </mat-card>
                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Visto</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.statusVisto }}</mat-card-content>
                    
                    </mat-card>

                    <mat-card>
                            <mat-card-header>
                                    <mat-card-title>Lancamento</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>{{ audio.dtLancamento }}</mat-card-content>
                    </mat-card>
            </div>        
    </div>
</div>

<!-- <form >
    <div class="form-group">
        <input type="text" [(ngModel)]="Audio.nome" name="nome">
        <input type="text" [(ngModel)]="Audio.autor" name="autor" >
        <input type="text" [(ngModel)]="Audio.descricao" name="descricao">
        <input type="text" [(ngModel)]="Audio.disponibilidade" name="disponibilidade">
        <input type="text" [(ngModel)]="Audio.estudio" name="estudio">
        <input type="text" [(ngModel)]="Audio.duracao" name="nacionalidade">
        <input type="text" [(ngModel)]="Audio.statusVisto" name="statusVisto">
        <input type="number" [(ngModel)]="Audio.tipo" name="maxEps">
        <input type="date" [(ngModel)]="Audio.dtLancamento" name="dtLancamento">

        <input type="submit" value="Enviar" (click)="enviaDados()">
    </div>
</form> -->