.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6a4ee6;
    color: aliceblue;
    margin: 1%;
    border-radius: 100px;
}

.resumo{
    color: black;
    margin: 5px 0;
    width: 80%;
}

mat-card-header{
    font-weight: 600;
    display: flex;
    justify-content: center;
}

mat-card-content{
    display: flex;
}

h2{
    margin: auto;
    padding: 1%;
}