<main class="conteudo">
    <h2>Ultimas adições</h2>
    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Audio</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let audio of Audios">
            <p>{{audio.nome}} - {{audio.autor}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Desenhos</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let desenho of desenhos">
            <p>{{desenho.nome}} - {{desenho.autor}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Filmes</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let filme of filmes">
            <p>{{filme.nome}} - {{filme.diretor}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Jogos</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let jogo of jogos">
            <p>{{jogo.nome}} - {{jogo.autor}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Livros</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let livro of livros">
            <p>{{livro.nome}} - {{livro.autor}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Novelas</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let novela of novelas">
            <p>{{novela.nome}} - {{novela.autor}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Quadrinhos</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let quadrinho of quadrinhos">
            <p>{{quadrinho.nome}} - {{quadrinho.autor}}</p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="resumo">
        <mat-card-header>
            <mat-card-title>Series</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let serie of series">
            <p>{{serie.nome}} - {{serie.autor}}</p>
        </mat-card-content>
    </mat-card>
</main>