<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Teste
  </mat-sidenav>

  <mat-sidenav-content>
    <a routerLink="/" class="Home">Home</a>
    <a routerLink="/desenho">Desenho</a>
    <a routerLink="/filme">Filme</a>
    <a routerLink="/livro">Livro</a>
    <a routerLink="/quadrinhos">Quadrinhos</a>
    <a routerLink="/novela">Novela</a>
    <a routerLink="/serie">Series</a>
    <a routerLink="/jogos">Jogos</a>
    <a routerLink="/audio">Audio</a>
  </mat-sidenav-content>
</mat-sidenav-container> -->
