<button mat-raised-button (click)="fechar()" class="fechar" color="warn">X</button>

<form>
    <p>Digite o nome do filme:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite o nome do filme</mat-label>
        <input matInput [(ngModel)]="Filme.nome" name="nome">
    </mat-form-field>

    <p>Digite o nome do diretor:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite o diretor:</mat-label>
        <input matInput [(ngModel)]="Filme.diretor" name="diretor">
    </mat-form-field>

    <p>Digite a descricao:</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Digite a descricao:</mat-label>
        <input matInput [(ngModel)]="Filme.descricao" name="descricao">
    </mat-form-field>

    <p>Digite onde pode ser encontrada: <br>(nome do serviço de streaming ou site alternativo)</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Site onde pode ser encontrada</mat-label>
        <input matInput [(ngModel)]="Filme.disponibilidade" name="disponibilidade">
    </mat-form-field>

    <p>Digite o nome do estudio</p>
    <mat-form-field appearance="fill" class="inputText">
        <mat-label>Nome do estudio</mat-label>
        <input matInput [(ngModel)]="Filme.estudio" name="estudio">
    </mat-form-field>

    <!-- checkbox ou lista de opcoes talvez agrupar com o proximo -->
    <div class="checkbox">
        <div class="status">
            <p>Está em lançamento ou finalizado:</p>
            <mat-radio-group>
                <mat-radio-button value="L" [(ngModel)]="Filme.status" name="statusL">Lançamento</mat-radio-button>
                <mat-radio-button value="F" [(ngModel)]="Filme.status" name="statusF">Finalizado</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- checkbox ou lista de opcoes -->
        <div class="visto">
            <p>Já assistiu ou não:</p>
            <mat-radio-group>
                <mat-radio-button value="vi" [(ngModel)]="Filme.statusVisto" name="statusVisto">Já assisti</mat-radio-button>
                <mat-radio-button value="nvi" [(ngModel)]="Filme.statusVisto" name="statusVisto">Não assisti</mat-radio-button>
                <mat-radio-button value="ass" [(ngModel)]="Filme.statusVisto" name="statusVisto">Ainda Assistirei</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="numero">
        <div class="duracao">
            <p>Quanto tempo dura o filme?</p>
            <mat-form-field appearance="fill">
                <mat-label>Digite o tempo em minutos</mat-label>
                <input type="number" [(ngModel)]="Filme.duracao" name="duracao">
            </mat-form-field>
        </div>

        <!-- data -->
        <div class="data">
            <p>Quando a serie lancou?</p>
            <mat-form-field appearance="fill">
                <mat-label>Data de lançamento</mat-label>
                <input matInput type="date" [(ngModel)]="Filme.dtLancamento" name="dtLancamento">
        </mat-form-field>
        </div>
    </div>
</form>

<button mat-raised-button (click)="enviaDados()" class="envio"> Enviar </button>
