<button mat-raised-button (click)="fechar()" class="fechar">X</button>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite o nome:</p>
    <input matInput [(ngModel)]="Desenho.nome">
</mat-form-field>
<mat-form-field appearance="fill" class="inputText">
    <p>Digite o nome do autor:</p>
    <input matInput [(ngModel)]="Desenho.autor" >
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite a descricao:</p>
    <input matInput [(ngModel)]="Desenho.descricao">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite onde pode ser encontrada: <br>(nome do serviço de streaming ou site alternativo)</p>
    <input matInput [(ngModel)]="Desenho.disponibilidade">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite o nome do estudio</p>
    <input matInput [(ngModel)]="Desenho.estudio">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite a nacionalidade</p>
    <input matInput [(ngModel)]="Desenho.nacionalidade">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite se está em lançamento ou finalizado:</p>
    <input matInput [(ngModel)]="Desenho.status">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite se você já assistiu ou não:</p>
    <input matInput [(ngModel)]="Desenho.statusVisto">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite o numero maximo de episódios:</p>
    <input matInput [(ngModel)]="Desenho.maxEps">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite o numero de temporadas:</p>
    <input matInput [(ngModel)]="Desenho.temps">
</mat-form-field>

<mat-form-field appearance="fill" class="inputText">
    <p>Digite a data de lançamento:</p>
    <input matInput [(ngModel)]="Desenho.dtLancamento">
</mat-form-field>

<button (click)="enviaDados()"> Enviar </button>